# Análisis de datos con Python.
## Introducción
* Importar librerías de python

In [246]:
import requests
import pandas as pd
import numpy as np

URL = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
df = pd.read_csv(URL, header=None)  # Nuestro dataset no tiene cabecera
df.head()  # visualización de las primeras 5 filas del dataset

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## Preprocesamiento de datos
* Asignación de encabezados.

In [247]:
headers = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration",
           "num-of-doors", "body-style", "drive-wheels", "engine-location",
           "wheel-base", "length", "width", "height", "curb-weight",
           "engine-type", "num-of-cylinders", "engine-size", "fuel-system",
           "bore", "stroke", "compression-ratio", "horsepower", "peak-rpm",
           "city-mpg", "highway-mpg", "price"]
df.columns = headers  # remplazo el encabezado de las columnas por mi lista de headers
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

* Conociendo el dataset

In [248]:
df.dtypes  # visualización de los tipos de datos de cada columna

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [249]:
df.describe()  # descripción estadística de las columnas numéricas

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [250]:
# si deseo conocer estadísticas de todas las columnas, incluyendo las no numéricas
df.describe(include="all")

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

* Pre-procesamiento de datos (data cleaning, data wrangling)

*manejo de valores nulos*

In [251]:
df.replace("?", np.nan, inplace=True)  # remplazo los valores "?" por numpy not a number
df.isnull().sum()  # visualización de la cantidad de valores nulos por columna

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [252]:
df = df.dropna(subset=["price"], axis=0)  # elimino las filas (index=0) con valores nulos en la columna "price"

# convierto la columna a tipo float
df["normalized-losses"] = df["normalized-losses"].astype(float)  
df["stroke"] = df["stroke"].astype(float)
df["bore"] = df["bore"].astype(float)
df["horsepower"] = df["horsepower"].astype(float)
df["peak-rpm"] = df["peak-rpm"].astype(float)

# reemplazo los valores nulos por la media
df["normalized-losses"] = df["normalized-losses"].fillna(df["normalized-losses"].mean())  
df["stroke"] = df["stroke"].fillna(df["stroke"].mean())
df["bore"] = df["bore"].fillna(df["bore"].mean())
df["horsepower"] = df["horsepower"].fillna(df["horsepower"].mean())
df["peak-rpm"] = df["peak-rpm"].fillna(df["peak-rpm"].mean())

# reemplazo los valores nulos por frecuencia
df["num-of-doors"] = df["num-of-doors"].fillna('four')

*formateo de datos*

In [253]:
df["city-mpg"] = 235 / df["city-mpg"]  # convierto mpg a L/100km
df.rename(columns={"city-mpg": "city-L/100km"}, inplace=True)

*Normalización de datos*

Distintas formas para normalizar datos:

![](img/normalizacion.png)

In [254]:
# normalización por el método "simple feature scaling"
df["length"] = df["length"] / df["length"].max()

# normalización por el método "min-max"
df["width"] = df["width"] - df["width"].min() / df["width"].max() - df["width"].min()

# normalización por el método "z-score"
df["height"] = (df["height"] - df["height"].mean()) / df["height"].std()

*agrupamiento* conocido como *binning*

![img](img/binning.png)

In [255]:
print(df["price"].dtype)  # necesitamos corregir primero el tipo de datos
df["price"] = df["price"].astype(float)  # convierto la columna a tipo float

object

In [256]:
bins_price = np.linspace(min(df["price"]), max(df["price"]), 4)  # divido los datos en 4 intervalos
group_names = ["Low", "Medium", "High"]  # etiquetas para cada intervalo
df["price-binned"] = pd.cut(df["price"], bins, labels=group_names, include_lowest=True)

# realizo la misma acción para la columna "horsepower"
bins_horsepower = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
df["horsepower-binned"] = pd.cut(df["horsepower"], bins_horsepower, labels=group_names, include_lowest=True)

In [257]:
df["price-binned"].value_counts()  # visualización de la cantidad de valores por intervalo

price-binned
Low       171
Medium     18
High       12
Name: count, dtype: int64

In [258]:
df["horsepower-binned"].value_counts()

horsepower-binned
Low       153
Medium     43
High        5
Name: count, dtype: int64

*conversión de variables categóricas a variables cuantitativas*

![](img/conversion.png)

In [259]:
df["fuel-type"].unique()  # deseo convertir esta variables a un dato númerico.

array(['gas', 'diesel'], dtype=object)

In [260]:
dummy_df = pd.get_dummies(df["fuel-type"])  # convierto la variable categórica a una variable dummy (TRUE/FALSE)
dummy_df[["gas", "diesel"]] = dummy_df[["gas", "diesel"]].astype(int)  # convierto la columna a tipo int
dummy_df.head(2)

   diesel  gas
0       0    1
1       0    1

In [261]:
df = pd.concat([df, dummy_df], axis=1)  # concateno el dataframe original con el dataframe dummy
df.drop("fuel-type", axis=1, inplace=True)  # elimino la columna original